body{
    background-color: #2F3136;
    color: white;
    margin: 0;
}

#spacexLogo{
    width: auto;
    height: 20px;
}

header{
    margin-left: 4%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#marsLogo{
    width: auto;
    height: 20px;
    margin: 0;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1280px) {
}

@media only screen and (min-width: 1920px) {
}